* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.row {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-12, .col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-12 {
  width: 100%;
}

header {
    background-color: #010508;
    color: white;
}

h1, h2, h3>a, .username-notice {
    font-family: 'Caveat Brush', cursive;
}

h1, h2 {
    font-size: 2em;
}

h3>a {
    font-size: 1.5em;
}

body {
color: white;
background: url("https://www.iliketowastemytime.com/sites/default/files/outer-space-hd-wallpaper.jpg") center no-repeat fixed #080C0D;
}

main {
    overflow: auto;
}

main h2 {
    clear: both;
}

main .intro h2 {
    font-family: Arial, sans-serif;
}

.js-event {
    margin: 1em;
    height: 500px;
    text-align: center;
    background-color: #010508;
    color: white;
    border-radius: 25px;
    margin-bottom: 2em;
}

a {
    color: #F8E2FF;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background-color: #F8E2FF;
    color: #010508;
}

.events {
    overflow: hidden;
}

.hidden {
    display: none;
}

button {
    display: block;
    margin: 5px;
}

li {
    list-style: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

label {
    display: block;
    margin: 1em;
}

textarea {
    display: block;
}

.signup-div, .signin-div {
    margin-top: 1em;
    float: left;
}

.signup-div {
    margin-right: 2em;
}

.login {
    overflow: hidden;
}

.required, .add-error, .auth-error, .signup-error, .incorrect-login, .start-date-error, .end-date-error, .required-enter-all {
    color: red;
}

.required {
    font-weight: normal;
}

.username-notice, .signup-notice, .signin-notice {
    font-weight: bold;
    color: #F8E2FF;
    font-size: 1.5em;
}

.js-guest-list {
    margin-left: auto;
    margin-right: auto;
}

.remove-event-option, .remove-event, .delete-option, .add-my-events, .add-guests, .submit-guests, .new-guests, .delete-event {
    margin-left: auto;
    margin-right: auto;
}

.external-link {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.signup-confirm {
    color: green;
}

.js-guest-list, .delete-option, .add-my-events, .remove-event-option, .add-guests {
    border: 1px #AFE7F4 solid;
    background-color: #AFE7F4;
    color: black;
    padding: .5em;
}

.submit-event, .submit-guests, .signup-button, .signin-button, .delete-event, .remove-event {
    border: 1px #F8E2FF solid;
    background-color: #F8E2FF;
    color: #010508;
    padding: .5em;
}

button  {
    border: 1px #AFE7F4 solid;
    background-color: #AFE7F4;
    color: #010508;
    padding: .5em;
    margin: .5em;
}

label {
    font-weight: bold;
}

img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.js-guests-list {
    text-align: center;
}

.event-added {
    color: green;
}

@media only screen and (min-width: 710px) {
    .js-event {
        float: left;
        width: 40%;
    }
}

@media only screen and (min-width: 1080px) {
    .js-event {
        float: left;
        width: 30%;
    }
}